Package: com.axs.contactsfs
Name: ContactsFS 来电全屏显示头像
Version: 1.0.1
Architecture: iphoneos-arm
Description: 通话来电全屏显示联系人预设头像。
Maintainer: axs
Author: A
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Icon: https://axs66.github.io/repo/icon/contactsfs.png
Sileodepiction: https://axs66.github.io/repo/sileodepiction/contactsfs/js.json
