Package: com.0xkuj.contactsfs
Name: ContactsFS
Version: 1.0.0
Architecture: iphoneos-arm
Description: A tweak to rescale all your existing contacts images to full screen
Maintainer: 0xkuj
Author: 0xkuj
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
